*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Open Sans', sans-serif;
  padding: 2.5rem 2.5rem 0 2.5rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.container {
  padding: 1rem;
}

button {
  cursor: pointer;
}

.headerBackground {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.headerBackground .logo {
  width: 10%;
}

.headerBackground .logo img {
  height: 100px;
}

.headerBackground .nav {
  width: 70%;
  margin: 2rem auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.headerBackground .nav ul {
  padding: 1rem;
  margin-left: -6rem;
}

.headerBackground .nav ul li {
  display: inline-block;
}

.headerBackground .nav ul li a {
  color: #494845;
  font-size: 2.5rem;
  letter-spacing: 2px;
  font-weight: bold;
}

.btnHeader {
  width: 20%;
  margin: 2rem auto 0;
}

.btnHeader .singIn {
  margin-right: 1rem;
  background: #333333;
  color: #CAC531;
}

.btnHeader button {
  padding: 15px;
  font-size: 2rem;
  border: 1px solid #333333;
  border-radius: 10px;
  background: none;
  font-weight: bold;
}

.footer {
  position: relative;
  background: #333333;
  color: #fff;
  margin-top: 23rem;
  padding-top: 2rem;
  height: 32.7vh;
}

.footer .footerContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.footer .footerContainer .fottrtIfo li {
  font-size: 2rem;
  line-height: 1.9;
  margin: 1rem 0 0 10rem;
}

.footer .svgClientesFotter {
  position: absolute;
  bottom: 85%;
  width: 100%;
}

.footer .copy {
  margin: 3rem;
}

.footer .copy p {
  font-size: 2rem;
  text-align: center;
}

.footer .copy .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .copy .icon img {
  width: 3%;
  margin-top: -5rem;
  margin-left: 1rem;
  color: #fff;
}

/*Start Hrader */
header {
  position: relative;
  height: 60vh;
  background: #CAC531;
}

header .svgHeader {
  position: absolute;
  bottom: -30%;
}

header .titel {
  padding: 1rem;
  margin: 2rem 0 0 2rem;
  color: #494845;
  width: 40%;
}

header .titel .titlePremier {
  display: block;
  font-size: 7rem;
  letter-spacing: 6px;
}

header .titel .titleSeconde {
  display: block;
  margin-left: 1rem;
  font-size: 3rem;
  letter-spacing: 10px;
}

header .titel .textHeader {
  margin-left: 1rem;
  font-size: 1.5rem;
}

header .titel .textHeader p {
  line-height: 1.8;
}

header .loginHeader {
  position: absolute;
  width: 25%;
  height: 77vh;
  background: #fff;
  right: 4%;
  top: 30%;
  border: 3px solid #494845;
  border-radius: 10px;
}

header .loginHeader .loginContainer {
  width: 80%;
  margin: 1rem auto;
}

header .loginHeader .loginContainer .input input, header .loginHeader .loginContainer .input select {
  width: 100%;
  margin: 1rem 0;
  padding: 10px 15px;
  border: 1px solid #494845;
  border-radius: 10px;
}

header .loginHeader .loginContainer .input label {
  display: block;
  font-size: 2rem;
}

header .loginHeader .loginContainer .radoi label {
  margin-left: 1rem;
}

header .loginHeader .loginContainer .btnSreash button {
  display: block;
  width: 100%;
  margin: 1rem 0;
  padding: 10px 15px;
  border: 1px solid #494845;
  border-radius: 10px;
  background: #333333;
  color: #fff;
  font-size: 2rem;
}

/*End Hrader */
.margin {
  padding: 10rem 0;
}

/*Start Main */
.main {
  width: 90%;
  margin: auto;
}

.main .mainContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.main .mainContainer .mainDiv {
  margin: 1rem 0 0 1rem;
}

.main .mainContainer .mainDiv img {
  width: 20%;
  display: block;
  margin: auto;
}

.main .mainContainer .mainDiv p {
  font-size: 2rem;
  margin: 1rem;
  text-align: center;
  color: #333333;
}

/*End Main */
/* Start Catgori*/
.catgori h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
}

.catgori .catrContainer {
  margin-top: 6rem;
  width: 33.33333%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.catgori .catrContainer .card {
  border-radius: 10px;
  height: 420px;
  width: 400px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

.catgori .catrContainer .card:not(:first-of-type) {
  margin-left: 2rem;
}

.catgori .catrContainer .card .front, .catgori .catrContainer .card .back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transition: -webkit-transform 1s linear;
  transition: -webkit-transform 1s linear;
  transition: transform 1s linear;
  transition: transform 1s linear, -webkit-transform 1s linear;
}

.catgori .catrContainer .card .front {
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

.catgori .catrContainer .card .front img {
  border-radius: 10px;
}

.catgori .catrContainer .card .back {
  text-align: center;
  background: #333333;
  border-radius: 10px;
  color: #fff;
  padding: 2rem 1rem;
  -webkit-transform: perspective(800px) rotateY(180deg);
          transform: perspective(800px) rotateY(180deg);
}

.catgori .catrContainer .card .back .nameLoacition {
  font-size: 3rem;
  padding: 1rem;
}

.catgori .catrContainer .card .back .priceTravel {
  color: #CAC531;
  -webkit-transition: 1s ease-in;
  transition: 1s ease-in;
}

.catgori .catrContainer .card .back .info {
  display: block;
  margin: 3rem;
  line-height: 2;
  color: #707070;
}

.catgori .catrContainer .card .back .info:hover {
  color: #CAC531;
}

.catgori .catrContainer .card:hover > .front {
  -webkit-transform: perspective(800px) rotateY(-180deg);
          transform: perspective(800px) rotateY(-180deg);
}

.catgori .catrContainer .card:hover > .back {
  -webkit-transform: perspective(800px) rotateY(0deg);
          transform: perspective(800px) rotateY(0deg);
}

/* End Catgori*/
/* Start leadingCompain*/
.leadingCompain {
  padding-bottom: 10rem;
}

.leadingCompain h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
}

.leadingCompain h2 span {
  display: block;
}

.leadingCompain .leadingCompainContainer {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
}

.leadingCompain .leadingCompainContainer img {
  width: 50%;
  margin: auto;
}

/* End leadingCompain*/
/*Start Clientes*/
.clientes {
  padding-top: 7rem;
  position: relative;
  color: #fff;
  background: #333333;
}

.clientes .svgClientes {
  position: absolute;
  top: -40%;
  left: 0;
  width: 100%;
  height: 10%;
}

.clientes .svgClientBottom {
  position: absolute;
  bottom: -46%;
  width: 100%;
}

.clientes h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
}

.clientes .clientesContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  padding-top: 5rem;
}

.clientes .clientesContainer .clinet {
  width: 400px;
  margin: auto;
  padding-top: 3rem;
}

.clientes .clientesContainer .clinet img {
  width: 50%;
  margin: 1rem auto;
  display: block;
  border: 5px solid #fff;
  border-radius: 50%;
}

.clientes .clientesContainer .clinet .clinetName {
  display: block;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}

.clientes .clientesContainer .clinet .clinetInfo {
  display: block;
  margin: 1rem;
  text-align: center;
  padding: 2rem;
}

/*End Clientes*/
/*Start Contact*/
.contact {
  margin-top: 8rem;
}

.contact h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
  display: block;
  margin-bottom: 3rem;
}

.contact .contactContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.contact .contactContainer .contactInfo {
  margin-left: 8rem;
}

.contact .contactContainer .contactInfo .send {
  font-size: 2rem;
  background-color: #333333;
  color: #fff;
}

.contact .contactContainer .contactInfo input, .contact .contactContainer .contactInfo #textarea, .contact .contactContainer .contactInfo .send {
  display: block;
  width: 80%;
  margin-bottom: 3rem;
  padding: 10px 15px;
  border: 1px solid #333333;
  border-radius: 10px;
}

/*End Contact*/
