*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  outline: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html {
  font-size: 10px;
  padding: 2.5rem 2.5rem 0 2.5rem;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
}

.container {
  padding: 1rem;
}

button {
  cursor: pointer;
}

header {
  position: relative;
}

header .custom-shape-divider-top-1619315220 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: -1;
}

header .custom-shape-divider-top-1619315220 svg {
  position: relative;
  display: block;
  width: calc(133% + 1.3px);
  height: 180px;
}

header .custom-shape-divider-top-1619315220 .shape-fill {
  fill: #CAC531;
}

header .navBare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: relative;
  margin: 0 1rem;
}

header .navBare .imagesLogo {
  position: absolute;
  left: 20px;
}

header .navBare .imagesLogo img {
  height: 95px;
}

header .navBare nav {
  width: 40%;
  margin: auto;
}

header .navBare nav .menu {
  display: none;
}

header .navBare nav .show {
  right: -56%;
  background: #494845;
  -webkit-box-shadow: 0px 0px 5px #252020;
          box-shadow: 0px 0px 5px #252020;
  z-index: 10;
}

header .navBare nav ul {
  margin: 0;
  text-align: center;
}

header .navBare nav ul li {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  margin-right: 9rem;
}

header .navBare nav ul li a {
  color: #333333;
}

header .navBare span {
  font-size: 3rem;
  font-weight: bold;
  display: block;
  color: #333333;
  margin-top: 1rem;
}

header .navBare .usrImages {
  width: 16%;
}

header .navBare .usrImages img {
  width: 100px;
  border-radius: 50%;
  height: 100px;
  float: right;
  margin-right: 6rem;
}

.stepBorder {
  display: inline-block;
  margin-top: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 2rem;
  position: relative;
}

.stepBorder .st {
  color: #fff;
}

.stepBorder span {
  border-radius: 50%;
  background: #707070;
  color: #333333;
  padding: 10px 15px;
  border: 1px solid #707070;
  margin: 0 1rem;
}

.stepBorder span::after {
  content: "";
  position: absolute;
  height: 30%;
  border-bottom: 5px solid #707070;
  border-radius: 3px;
  right: 17.5%;
  z-index: -1;
  width: 65%;
}

.catrContainer {
  width: 90%;
  background: #645F5F;
  margin: 4rem auto 2rem;
  border-radius: 20px;
  -webkit-box-shadow: rgba(100, 95, 95, 0.16) 0px 3px 6px, rgba(100, 95, 95, 0.23) 0px 3px 6px;
          box-shadow: rgba(100, 95, 95, 0.16) 0px 3px 6px, rgba(100, 95, 95, 0.23) 0px 3px 6px;
}

.catrContainer h2 {
  text-align: center;
  font-size: 4rem;
  letter-spacing: 3px;
  text-transform: capitalize;
  font-weight: bold;
  color: #CAC531;
}

.next {
  position: absolute;
  right: 10%;
  width: 150px;
  padding: 10px 15px;
  border: 0;
  border-radius: 20px;
  font-size: 2rem;
  font-weight: bold;
  background: #CAC531;
  color: #fff;
  -webkit-transition: -webkit-transform .7s ease-in;
  transition: -webkit-transform .7s ease-in;
  transition: transform .7s ease-in;
  transition: transform .7s ease-in, -webkit-transform .7s ease-in;
}

.next:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.next:active {
  -webkit-transform: translateY(-1px);
          transform: translateY(-1px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
          box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

footer {
  position: relative;
}

footer .custom-shape-divider-bottom-1619414709 {
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

footer .custom-shape-divider-bottom-1619414709 svg {
  position: relative;
  display: block;
  width: calc(132% + 1.3px);
  height: 180px;
}

footer .custom-shape-divider-bottom-1619414709 .shape-fill {
  fill: #CAC531;
}

.cartGrid {
  margin: 1rem;
}

.cartGrid .cartConatiner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  width: 90%;
  margin: 1rem auto;
}

.cartGrid .cartConatiner .contact {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  margin-bottom: 2rem;
}

.cartGrid .cartConatiner .contact span {
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
}

.cartGrid .cartConatiner .contact input {
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 10px 15px;
  width: 44%;
  margin: 0 1rem;
  background: #645F5F;
  color: #fff;
  font-size: 2rem;
}

.cartGrid .cartConatiner .contact input:placeholder-shown {
  font-size: 2rem;
}

.cartGrid .cartConatiner .adult {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.cartGrid .cartConatiner .adult span {
  margin-right: 1rem;
  font-size: 2rem;
  color: #fff;
}

.cartGrid .cartConatiner .adult select {
  margin-right: 1rem;
  padding: 10px 15px;
  margin: 0 3rem;
  border-radius: 5px;
  padding: 10px 15px;
  width: 130px;
  color: #fff;
  background: #645F5F;
}

.cartGrid .cartConatiner .adult input {
  border: 1px solid #707070;
  border-radius: 10px;
  padding: 10px 15px;
  width: 30%;
  margin: 0 1rem;
  background: #645F5F;
  color: #fff;
  font-size: 2rem;
}

.cartGrid .cartConatiner .adult input:placeholder-shown {
  font-size: 2rem;
}

.cartGrid .passport {
  margin: 6rem auto 1rem;
  width: 100%;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}

.cartGrid .passport .border {
  position: relative;
}

.cartGrid .passport .border button {
  -webkit-box-shadow: rgba(7, 7, 7, 0) 0px 50px 100px -10px, black 0px 30px 60px -20px;
          box-shadow: rgba(7, 7, 7, 0) 0px 50px 100px -10px, black 0px 30px 60px -20px;
  padding: 10px 15px;
  width: 320px;
  border: 1px solid #707070;
  border-radius: 30px;
  display: block;
  margin: 2rem auto 1rem;
  font-size: 2rem;
  background: #645F5F;
  color: #fff;
}

.cartGrid .passport .border .imageBoreder {
  position: absolute;
  right: 21%;
  width: 20%;
  bottom: -2px;
}

.cartGrid .passport .border .imageBoreder img {
  height: 30px;
  cursor: pointer;
}

.cartGrid .passport .border:hover {
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.cartGrid .passport .passportInfo {
  background: #645F5F;
  -webkit-box-shadow: 0px 0px 10px #333333;
          box-shadow: 0px 0px 10px #333333;
  height: 100px;
  margin: 2rem auto 1rem;
  width: 900px;
  height: 220px;
}

.cartGrid .passport .passportInfo .paddingInfp {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto;
      grid-template-columns: auto auto;
  margin: 1rem;
}

.cartGrid .passport .passportInfo .paddingInfp .info__1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
}

.cartGrid .passport .passportInfo .paddingInfp .info__1 span {
  font-size: 2rem;
  color: #fff;
  margin: 0 1rem;
}

.cartGrid .passport .passportInfo .paddingInfp .info__1 input:not(:first-of-type) {
  width: 45%;
  padding: 10px 15px;
  border: 1px solid #707070;
  border-radius: 10px;
  margin-right: 1rem;
  background: #645F5F;
  color: #fff;
  font-size: 2rem;
}

.cartGrid .passport .passportInfo .paddingInfp .info__1 input:not(:first-of-type):placeholder-shown {
  font-size: 2rem;
}

.cartGrid .passport .passportInfo .paddingInfp .info__1 select {
  width: 19%;
  padding: 10px;
  border-radius: 10px;
  font-size: 1.5rem;
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 {
  margin-top: 3rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 .dateInfoUsr {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 .dateInfoUsr span {
  font-size: 2rem;
  color: #fff;
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 .dateInfoUsr q {
  display: block;
  color: #fff;
  font-size: 1rem;
  margin-left: 1rem;
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 .dateInfoUsr input:not(:first-of-type) {
  width: calc(80% / 3);
  padding: 5px 15px;
  font-size: 2rem;
  border-radius: 10px;
  margin: 1rem;
  padding: 10px 15px;
  border: 1px solid #707070;
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 .dateInfoPassport {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 2;
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 .dateInfoPassport span {
  font-size: 2rem;
  color: #fff;
  display: block;
}

.cartGrid .passport .passportInfo .paddingInfp .info__2 .dateInfoPassport input {
  width: calc(72% / 3);
  padding: 6px 6px;
  font-size: 2rem;
  border-radius: 10px;
  margin-top: 2.5rem;
  padding: 10px 15px;
  border: 1px solid #707070;
}
