$HeaderBackground: #CAC531;
$ColorPremierAndBackground: #333333;
$ColorTitle :#494845;
$white: #fff;
$FotterBackgroundSocialMedia: #645F5F;
$Border: #707070;
$BackgourndAdmin : #050A30;
$BackgroundCartAdmin : #252D69;
$ApiBorder : #0d6efd;