@import "../sab/body";
@import "../step/StepHeader";
@import "../step/StepMain";
@import "../step/StepFotter";
@import "../mediaQuery/step/HeaderStepMedia";


// StepFotter
.cartGrid {
    
    margin: 1rem;
    .catrInfo {
        display: grid;
        grid-template-columns: 10% 30% 42% 20%;
        margin: 1rem 2rem 4rem 2rem;
        img {
            width: 100px;
        }
        .diparte {
            color: $white;
            p{
                font-size: 2rem;
            }
            span{
                display: block;
                line-height: 1.7;
                width: 215px;
            }
        }
    }
    .cartTime {
        color: $white;
        font-size: 1.5rem;
        margin-left: 8rem;
        position: relative;
        span{
            display: block;
            margin: 1rem 0;
            &::after {
                content: "";
                position: absolute;
                padding: 10px;
                border-radius: 50%;
                left: -19%;
                top: 31%;
                background: $white;
            }
            &::before {
                content: "";
                position: absolute;
                padding: 10px;
                border-radius: 50%;
                left: 30%;
                top: 31%;
                background: $white;
            }
        }
        &:after{
            content: "";
            position: absolute;
            width: 45%;
            height: 30%;
            border-bottom: 1px solid $white;
            left: -15%;
            top: 10%
        } 
    }
    
}