@media(min-width: 320px) and (max-width:576px) {
    .cartGrid ,.dataCart{
        h2 {
            font-size: 2rem !important;
        }
        display: block !important;
        span {
            font-size: 2.5rem !important;
            margin: 1rem !important;
        }
        input {
            width: 61vw !important;
            margin: 0 !important;
        }
    }
    .dataCart  {
        span {
            margin: 1rem 0 !important;
        }
        input {
            margin: 1rem 0!important;
        }
    }
}

@media(min-width: 576px) and (max-width:991px) {
    .dataCart  {
        
        input {
            width: 20vw !important;
            margin: 1rem 0!important;
        }
    }
}
