@import "../sab/body";
@import "../varaible/colore";

body {
    padding: 0;
}

header {
    background: $HeaderBackground;
    width: 100%;
    height: 100vh;

    .headerContainer {
        background: $FotterBackgroundSocialMedia;
        width: 80%;
        height: 80vh;
        position: absolute;
        top: 8%;
        left: 8%;
        transform: translate(10px, 10px);
        border-radius: 20px;
        // box-shadow: rgba(100, 95, 95, 0.25) 0px 6px 12px -2px, rgba(100, 95, 95, 0.30) 0px 3px 7px -3px;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
        .mainIncludeAndImge {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            .imge {
                margin-left: 1rem;
                img {
                    height: 555px;
                    width: 100%;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                }
            }
        }
    }
}
